# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    - name: dir list
      run: ls -la
    
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean build
    
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: woojang1230/github-action-test
        tags: 1.0

    - name: Build and push Docker image
      uses: mr-smithers-excellent/docker-build-push@v5 # bdocker/build-push-action@v2
      with:
        image: woojang1230/github-action-test
        tags: 1.0, latest
        registry: docker.io
        
